seo/n8n-haro-workflow.json
{
  "name": "HARO/Journalist Request Monitor for Purrify",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Run Every 4 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "https://www.google.com/alerts/feeds/YOUR_ALERT_ID",
        "options": {}
      },
      "id": "google-alerts-rss",
      "name": "Google Alerts RSS",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 200],
      "typeVersion": 4.1,
      "notes": "Set up Google Alerts for: 'seeking expert' cat, 'looking for sources' pet, 'HARO' pet products, journalist pet industry"
    },
    {
      "parameters": {
        "url": "https://api.twitter.com/2/tweets/search/recent",
        "authentication": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "(#journorequest OR #prrequest OR #haro) (cat OR pet OR litter OR animal)"
            },
            {
              "name": "max_results",
              "value": "50"
            },
            {
              "name": "tweet.fields",
              "value": "created_at,author_id,text"
            }
          ]
        }
      },
      "id": "twitter-journo-requests",
      "name": "Twitter #JournoRequest",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 400],
      "typeVersion": 4.1,
      "credentials": {
        "twitterOAuth2Api": "twitter-api-creds"
      },
      "notes": "Monitor journalist hashtags for pet-related requests"
    },
    {
      "parameters": {
        "url": "https://connectively.us/api/queries",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "categories",
              "value": "lifestyle,business,consumer"
            }
          ]
        }
      },
      "id": "connectively-api",
      "name": "Connectively (HARO)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 600],
      "typeVersion": 4.1,
      "notes": "Connectively replaced HARO. Check if they have public API, otherwise use email parsing."
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge All Sources",
      "type": "n8n-nodes-base.merge",
      "position": [700, 400],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cat-filter",
              "leftValue": "={{ $json.text || $json.content || $json.query }}",
              "rightValue": "cat",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "pet-filter",
              "leftValue": "={{ $json.text || $json.content || $json.query }}",
              "rightValue": "pet",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "litter-filter",
              "leftValue": "={{ $json.text || $json.content || $json.query }}",
              "rightValue": "litter",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "odor-filter",
              "leftValue": "={{ $json.text || $json.content || $json.query }}",
              "rightValue": "odor",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "smell-filter",
              "leftValue": "={{ $json.text || $json.content || $json.query }}",
              "rightValue": "smell",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "home-filter",
              "leftValue": "={{ $json.text || $json.content || $json.query }}",
              "rightValue": "home tips",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "filter-relevant",
      "name": "Filter Pet/Cat Related",
      "type": "n8n-nodes-base.filter",
      "position": [900, 400],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "messages": {
          "values": [
            {
              "content": "You are a helpful assistant for a pet product company (Purrify - natural activated carbon cat litter deodorizer). Analyze this journalist request and determine:\n\n1. RELEVANCE (1-10): How relevant is this to pet products, cats, litter, home odors, or pet care?\n2. ANGLE: What angle could Purrify take to respond?\n3. DRAFT PITCH: Write a 2-3 sentence pitch if relevance >= 6\n\nJournalist Request:\n{{ $json.text || $json.content || $json.query }}\n\nRespond in JSON format:\n{\n  \"relevance\": number,\n  \"angle\": \"string\",\n  \"pitch\": \"string or null\",\n  \"deadline\": \"extracted deadline or null\",\n  \"journalist_name\": \"extracted name or null\",\n  \"outlet\": \"extracted outlet or null\"\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "id": "ai-analyze",
      "name": "AI Analyze & Draft",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [1100, 400],
      "typeVersion": 1,
      "credentials": {
        "anthropicApi": "anthropic-api"
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ JSON.parse($json.message.content).relevance }}",
              "value2": 6,
              "operation": "gte"
            }
          ]
        }
      },
      "id": "filter-high-relevance",
      "name": "Relevance >= 6",
      "type": "n8n-nodes-base.if",
      "position": [1300, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "parsed-data",
              "name": "parsed",
              "value": "={{ JSON.parse($json.message.content) }}",
              "type": "object"
            },
            {
              "id": "original-text",
              "name": "original_request",
              "value": "={{ $('Filter Pet/Cat Related').item.json.text || $('Filter Pet/Cat Related').item.json.content }}",
              "type": "string"
            },
            {
              "id": "source",
              "name": "source",
              "value": "={{ $('Filter Pet/Cat Related').item.json.source || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "url",
              "value": "={{ $('Filter Pet/Cat Related').item.json.url || $('Filter Pet/Cat Related').item.json.link || '' }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "set-output-fields",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "position": [1500, 300],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Opportunities"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "Source": "={{ $json.source }}",
            "Relevance": "={{ $json.parsed.relevance }}",
            "Request": "={{ $json.original_request }}",
            "Angle": "={{ $json.parsed.angle }}",
            "Pitch Draft": "={{ $json.parsed.pitch }}",
            "Deadline": "={{ $json.parsed.deadline }}",
            "Journalist": "={{ $json.parsed.journalist_name }}",
            "Outlet": "={{ $json.parsed.outlet }}",
            "URL": "={{ $json.url }}",
            "Status": "New"
          }
        }
      },
      "id": "save-to-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1700, 200],
      "typeVersion": 4.2,
      "credentials": {
        "googleSheetsOAuth2Api": "google-sheets-creds"
      }
    },
    {
      "parameters": {
        "channel": "#pr-opportunities",
        "text": "=:newspaper: *New PR Opportunity (Relevance: {{ $json.parsed.relevance }}/10)*\n\n*Source:* {{ $json.source }}\n*Request:* {{ $json.original_request.substring(0, 300) }}...\n\n*Suggested Angle:* {{ $json.parsed.angle }}\n\n*Draft Pitch:*\n{{ $json.parsed.pitch }}\n\n{{ $json.parsed.deadline ? ':clock3: Deadline: ' + $json.parsed.deadline : '' }}\n{{ $json.url ? ':link: ' + $json.url : '' }}",
        "otherOptions": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "position": [1700, 400],
      "typeVersion": 2.1,
      "credentials": {
        "slackApi": "slack-api"
      }
    },
    {
      "parameters": {
        "fromEmail": "alerts@purrify.ca",
        "toEmail": "pr@purrify.ca",
        "subject": "=PR Opportunity: {{ $json.parsed.outlet || 'Unknown Outlet' }} (Relevance: {{ $json.parsed.relevance }}/10)",
        "emailType": "html",
        "html": "=<h2>New PR Opportunity Found</h2>\n<p><strong>Relevance Score:</strong> {{ $json.parsed.relevance }}/10</p>\n<p><strong>Source:</strong> {{ $json.source }}</p>\n\n<h3>Original Request:</h3>\n<blockquote>{{ $json.original_request }}</blockquote>\n\n<h3>Suggested Angle:</h3>\n<p>{{ $json.parsed.angle }}</p>\n\n<h3>Draft Pitch:</h3>\n<p>{{ $json.parsed.pitch }}</p>\n\n{{ $json.parsed.deadline ? '<p><strong>Deadline:</strong> ' + $json.parsed.deadline + '</p>' : '' }}\n{{ $json.parsed.journalist_name ? '<p><strong>Journalist:</strong> ' + $json.parsed.journalist_name + '</p>' : '' }}\n{{ $json.parsed.outlet ? '<p><strong>Outlet:</strong> ' + $json.parsed.outlet + '</p>' : '' }}\n{{ $json.url ? '<p><a href=\"' + $json.url + '\">View Original Request</a></p>' : '' }}\n\n<hr>\n<p><small>Sent by n8n PR Monitor</small></p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email Alert",
      "type": "n8n-nodes-base.emailSend",
      "position": [1700, 600],
      "typeVersion": 2.1,
      "credentials": {
        "smtp": "smtp-creds"
      }
    }
  ],
  "connections": {
    "Run Every 4 Hours": {
      "main": [
        [
          { "node": "Google Alerts RSS", "type": "main", "index": 0 },
          { "node": "Twitter #JournoRequest", "type": "main", "index": 0 },
          { "node": "Connectively (HARO)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Google Alerts RSS": {
      "main": [
        [{ "node": "Merge All Sources", "type": "main", "index": 0 }]
      ]
    },
    "Twitter #JournoRequest": {
      "main": [
        [{ "node": "Merge All Sources", "type": "main", "index": 1 }]
      ]
    },
    "Connectively (HARO)": {
      "main": [
        [{ "node": "Merge All Sources", "type": "main", "index": 2 }]
      ]
    },
    "Merge All Sources": {
      "main": [
        [{ "node": "Filter Pet/Cat Related", "type": "main", "index": 0 }]
      ]
    },
    "Filter Pet/Cat Related": {
      "main": [
        [{ "node": "AI Analyze & Draft", "type": "main", "index": 0 }]
      ]
    },
    "AI Analyze & Draft": {
      "main": [
        [{ "node": "Relevance >= 6", "type": "main", "index": 0 }]
      ]
    },
    "Relevance >= 6": {
      "main": [
        [{ "node": "Format Output", "type": "main", "index": 0 }],
        []
      ]
    },
    "Format Output": {
      "main": [
        [
          { "node": "Save to Google Sheets", "type": "main", "index": 0 },
          { "node": "Notify Slack", "type": "main", "index": 0 },
          { "node": "Send Email Alert", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["seo", "pr", "backlinks"],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "versionId": "1"
}
